/* home */
.masthead .btn-us{
  background-color: #c7363b;
}
.masthead .btn-us:hover{
  background-color: #c1131e;
}
.masthead .divider-red,
#services .divider-red,
#contact .divider-red{
  border-color: #c7363b;
}
.icon-fightings{
  background-image: url("../img/icons/icon-figthing.png");
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1.5rem;
}
.icon-shooters{
  background-image: url("../img/icons/icon-shooter.png");
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1.5rem;
}
.icon-mobas{
  background-image: url("../img/icons/icon-moba.png");
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1.5rem;
}
.row{
  justify-content: center;
}
.bg-welcome{
  background-color: #c7363b !important;
}
.row .contact-info > a{
  color: #c7363b;
}

/* login y signin*/

.form-login .content-btn-form-login,
.form-signin .content-btn-form-sign,
.ranking-search .content-btn-ranking-search{
  border-radius: 8px;
  background: #c7363b;
  padding: 5px;
}
.form-login .content-btn-form-login:hover,
.form-signin .content-btn-form-sign:hover
.ranking-search .content-btn-ranking-search:hover{
  background: #c1131e;
}
.form-login .content-btn-form-login .btn-form-login,
.form-signin .content-btn-form-sign .btn-form-sign,
.ranking-search .content-btn-ranking-search .btn-ranking-search{
  width: 100%;
  color: #ffffff;
  font-weight: 700;
}
.form-login .content-btn-form-login .btn-form-login:focus,
.form-signin .content-btn-form-sign .btn-form-sign:focus,
.ranking-search .content-btn-ranking-search .btn-ranking-search:focus{
  box-shadow: none;
}
.form-login .forgot-password{
  text-align: center;
  margin: 20px 0px;
}
.form-login .forgot-password a{
  color: #999999;
  text-decoration: none;
}
.form-login-sign-in,
.form-sign-login-in{
  color: #999999;
  text-align: center;
  margin: 20px 0px 0px;
}
.form-login-sign-in a,
.form-sign-login-in a{
  color: #c7363b;
  font-weight: 700;
}
.form-login-sign-in a:hover,
.form-sign-login-in a:hover{
  color: #c1131e;
  font-weight: 700;
}
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: #ebebeb;
}
.form-container #login-content,
.form-container #signin-content,
.ranking-container .ranking-content{
  width: 100%;
}
#login-content .form-login,
#signin-content .form-signin{
  background: #ffffff;
  padding: 30px 0px;
  border-radius: 8px;
}
.form-login .title-login,
.form-signin .title-sign{
  margin: 20px 0px;
}
.form-group{
  margin: 20px 0px;
}
.form-group input,
.form-group select{
  min-height: 50px;
  color: #6b7685;
}
.form-control:focus{
  box-shadow: none;
  border-color: #c7363b;
}
.input-email,
.input-id-number,
.input-pwd-confirm{
  position: relative;
}
.input-email.icon-valid::before,
.input-id-number.icon-valid::before,
.input-pwd-confirm.icon-valid::before{
  content: "";
  display: block;
  background-image: url("../img/icons/valid-icon.svg");
  width: 20px;
  height: 15px;
  position: absolute;
  top: 17px;
  right: 20px;
}
/*
cambiar place holder
input[type="email"]::placeholder {
    color: blue;
}
*/
.msg-error{
  color: #c7363b;
  font-size: 13px;
  margin: 10px 0px;
  background: #ffdce0;
  border-radius: 5px;
  text-align: center;
}
.ranking-container{
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom,rgba(92,77,66,.8) 0,rgba(92,77,66,.8) 100%),url(../img/background-republic.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding-top: 72px;
}
.ranking-container .ranking-search{
  margin: 0 auto;
}
.ranking-content .search{
  display: flex;
}
.ranking-content .search .search-select{
  margin: 0 5px;
}
.ranking-search .content-btn-ranking-search{
  max-width: 300px;
  margin: 20px auto;
}
.content-ranking-table .ranking-table{
  color: #ffffff;
}
.ranking-container .ranking-title{
  color: #ffffff;
  text-align: center;
}
.dropdown-item-profile{
  font-size: 14px;
  font-weight: 700;
  background: #c7363b;
}
.dropdown-item-profile a{
  color: #ffffff;
}

/* Medias Query */
@media (min-width: 768px){
  #login-content .form-login{
    max-width: 600px;
    padding-left: 85px;
    padding-right: 85px;
  }
  #signin-content .form-signin{
    max-width: 700px;
    padding-left: 85px;
    padding-right: 85px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .ranking-container .ranking-search{
    max-width: 700px;
  }
}
@media (max-width:767px){
  #login-content .form-login,
  #signin-content .form-signin,
  .ranking-container .ranking-search{
    max-width: none;
    padding:  20px;
  }
}
